{% extends '::base.html.twig' %}

{% block body %}
    {% for entity in entities %}
    <div class="post">
      <div class="leftbar">
        <div class="meta">Date: {{ entity.createdat|date('n M Y') }}</div>
        <div class="meta">Author: <a href="#">{{ entity.user.username }}</a></div>
        <div class="meta">Tags: <a href="#">boston</a>, <a href="#">photography</a></div>
        <div class="meta"><a href="{{ path('post_show', { 'id': entity.id }) }}#comments">10 Comments</a></div>
      </div>
      <div class="post-header">
        <a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
        {% if app.user == entity.user %}
        <a href="{{ path('post_edit', { 'id': entity.id }) }}"><img class="icon" src="{{ asset('/images/edit.png') }}" alt="редактировать" title="редактировать"/></a>
        {% endif %}
      </div>
      <div class="post-content">
        {{ entity.content | truncate(400) | markdown  }}
      </div>
      <div class="more">
        <a href="{{ path('post_show', { 'id': entity.id }) }}">Read More...</a>
      </div>
    </div>
    {% endfor %}
{% endblock %}
